@model OrderTaxVM

<div class="summary-row">
    <span>SubTotal</span>
    <span>₹@Model.SubAmount.ToString("F2")</span>
</div>

@foreach (var tax in Model.DefaultTaxList)
{
    <div class="summary-row">
           <span>SGST</span>
        <span>₹25.60</span>
    </div>
</div>
}

@foreach (var tax in Model.OptionalTaxList)
{
    <div class="summary-row">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="optionalTaxCheck_@tax.TaxId">
            <label class="form-check-label" for="optionalTaxCheck_@tax.TaxId">@tax.TaxName</label>
        </div>
        <span>@tax.TaxName</span>

    </div>
}

<div class="summary-row total-row">
    <span>Total</span>
    <span>₹@Model.TotalAmount.ToString("F2")</span>
</div>